@import "tailwindcss";
@import "./css/colors.css";

:root {
  line-height: 1;
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: var(--color-gray-primary);
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  @apply font-bold text-3xl text-blue-primary;
}
